<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swjtu.WJKeServers.mapper.DistrictMapper" >
  <resultMap id="BaseResultMap" type="com.swjtu.WJKeServers.entity.District" >
    <result column="DistrictID" property="districtid" jdbcType="CHAR" />
    <result column="DistrictName" property="districtname" jdbcType="NVARCHAR" />
    <result column="CityName" property="cityname" jdbcType="NVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    DistrictID, DistrictName, CityName
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.swjtu.WJKeServers.entity.DistrictExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from District
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.swjtu.WJKeServers.entity.DistrictExample" >
    delete from District
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.swjtu.WJKeServers.entity.District" >
    insert into District (DistrictID, DistrictName, CityName
      )
    values (#{districtid,jdbcType=CHAR}, #{districtname,jdbcType=NVARCHAR}, #{cityname,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.swjtu.WJKeServers.entity.District" >
    insert into District
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="districtid != null" >
        DistrictID,
      </if>
      <if test="districtname != null" >
        DistrictName,
      </if>
      <if test="cityname != null" >
        CityName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="districtid != null" >
        #{districtid,jdbcType=CHAR},
      </if>
      <if test="districtname != null" >
        #{districtname,jdbcType=NVARCHAR},
      </if>
      <if test="cityname != null" >
        #{cityname,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.swjtu.WJKeServers.entity.DistrictExample" resultType="java.lang.Integer" >
    select count(*) from District
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update District
    <set >
      <if test="record.districtid != null" >
        DistrictID = #{record.districtid,jdbcType=CHAR},
      </if>
      <if test="record.districtname != null" >
        DistrictName = #{record.districtname,jdbcType=NVARCHAR},
      </if>
      <if test="record.cityname != null" >
        CityName = #{record.cityname,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update District
    set DistrictID = #{record.districtid,jdbcType=CHAR},
      DistrictName = #{record.districtname,jdbcType=NVARCHAR},
      CityName = #{record.cityname,jdbcType=NVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>